
.footer {
    width: calc(100% - 200px);
    height: 50px;
    background-color: #000;
    color: #fff;
    bottom: 0;
    float: right;

}

.footer .socialMediaBtn .fa {
    margin-top: 0;
}

.footer p {
    padding-bottom: 20px;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #F7B500;
    transition: 0.5s;
}

.narrowFooter {
    display: none;
}

@media only screen and (max-width: 1095px) {

    .footer {
        width: 100%;
        float: none;
        padding-top: 10px;
    }

    .narrowFooter {
        display: block;
    }
}
