
img {
    max-width: 100%;
    height: auto;
    height: 10px;
    border-radius: 400px / 2px;
}

.sidenav {
    width: 200px;
    height: 100%;
    background-color: #000;
    color: #FFF;
    top: 0;
    bottom: 0;
    position: absolute;
}

p {
    font-weight: 600;
}

.contactInfo {
    margin-top: 100px;
    word-break: break-all;
}

.fa {
    margin-top: 100px;
    padding: 20px;
    font-size: 50px;
    width: auto;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    color: #F7B500;
    background-color: #000;
    transition: 0.5s;
}

.fa-instagram {
    background: #F7B500;
    color: white;
    border-radius: 50%;
}

@media only screen and (max-width: 1095px) {
    .sidenav {
        display: none;
    }
}